* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: Arial, sans-serif;    
    height: 100%;
    width: 100%;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.product {
    background-color: #DBCFD0;
    transition: transform 0.2s;
    border: 2px solid black;      
    border-radius: 8px;
    cursor: pointer;    
    padding: 20px;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    transform: scale(1.04);
}

.product img {
    border-radius: 5px;    
    max-width: 100%;
}

.product h3 {
    font-size: 20px;
    margin: 10px 0;
}

.product p {
    color: rgb(91, 2, 2);
    font-weight: bold;    
    font-size: 18px;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    padding-top: 60px;
    position: fixed;
    overflow: auto;      
    display: none;
    height: 100%;
    width: 100%;    
    z-index: 1;
    left: 0;
    top: 0;
}

.modal.active {
    display: block;
}

.modal-content {
    background-color: #DBCFD0;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;          
    margin: 5% auto;
    padding: 20px;
    width: 80%;
}

.close {
    font-weight: bold;    
    color: #7a7777;
    font-size: 30px;
    float: right;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;    
    color: black;
}

#modal-image {
    max-width: 200px;
    margin: 20px 0;
}

#modal-price {
    color: rgb(91, 2, 2);
    font-weight: bold;    
    font-size: 18px;
}

.button {
    background-color: rgb(46, 37, 50);    
    padding: 10px 20px;
    border-radius: 5px;    
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
}

.button:hover {
    background-color: #545151;
}